// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.logged_in {
  padding-bottom: 12px;
}

.logout_link{
  padding-left: 20px;
}

.content_edit {
  padding-left: 10px;
}

.message {
  padding-bottom: 8px;
}